{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default" style="background-color: rgba(255,255,255,0.6);font-size: 22px;color: #0f0f0f">
            <div class="panel-heading">
                <h3 class="panel-title">编辑用户</h3>
            </div>
            <div class="panel-body">    <!--没加action，默认提交到当前地址-->
                <form method="post" novalidate >
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span style="color: #0df8ae;">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}