<!--# 继承layout.html里的模板-->
{% extends 'layout.html' %}
<!-- 编写模板-->
{% block content %}
    {# 中间内容 #}
    <div>
        <div class="container">
            <div style="margin-bottom: 10px">
                <a class="btn btn-success" href="/depart/add/">{# target="_blank点击后在新的页面打开#}
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    新建部门
                </a>
            </div>
            <div class="panel panel-default" style="background-color: rgba(255,255,255,0.6);font-size: 20px;color: #0f0f0f">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    部门列表
                </div>
                <div class="panel-body">
                    <p>
                        2020年初,疫情在全球的蔓延 让全世界都进入了同一个情景无谓地域、文化、国情差异所有人的情感及体会都是相通的全世界都在携手互助，共同抗击疫情！
                    </p>
                </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>

                        <th>ID</th>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in department %}

                        <tr>
                            <th scope="row">{{ obj.id }}</th>
                            <td>{{ obj.title }}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/depart/edit/?nid1={{ obj.id }}">编辑</a>
                                <a class="btn btn-danger btn-xs" href="/depart/delete/?nid1={{ obj.id }}">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>

{% endblock %}

