<!--# 继承layout.html里的模板-->
{% extends 'layout.html' %}
<!-- 编写模板-->
{% block content %}
    <!--面板-->
    <div class="navbar">

        <div class="panel panel-default" style="background-color: rgba(255,255,255,0.6);font-size: 22px;color: #0f0f0f">
            <div class="panel-heading">
                <h3 class="panel-title">新建部门</h3>
            </div>
            <div class="panel-body" >
                <!--表单-->
                <form method="post">
                    {% csrf_token %}<!--安全机制-->
                    <div class="form-group">
                        <label>标题</label>
                        <input type="text" class="form-control" name="title" value="{{ row_object.title }}">
                    </div>

                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}