<!--# 继承layout.html里的模板-->
{% extends 'layout.html' %}
<!-- 编写模板-->
{% block content %}
    {# 中间内容 #}
    <div>
        <div class="container">
            <div style="margin-bottom: 10px">
                <a class="btn btn-success" href="/depart/add/">{# target="_blank点击后在新的页面打开#}
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    新建部门
                </a>
            </div>
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    部门列表
                </div>
                <div class="panel-body">
                    <p>
                        新冠肺炎疫情防控还在继续，被“宅”在家已近两个月了，期间设计了一个疫情管控平台希望对此次疫
                        情防控做些贡献。最近出入小区已经被拦截多次，因近期母亲身体不适所以多次陪同母亲外出检查，所以违反每日每户仅
                        能有一人出入小区规定。后期小区虽然开启扫码登记制度依然不能解决目前的问题，具体问题就不指出了，仅基于多年产品经验和对
                        目前发生在身边的情况设计规划——“ 爱①家”社区疫情管理平台，希望能对疫情管控期间社区管理再贡献一分自己的力量。
                    </p>
                </div>

                <!-- Table -->
                <table class="table">
                    <thead>
                    <tr>

                        <th>ID</th>
                        <th>名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in department %}

                        <tr>
                            <th scope="row">{{ obj.id }}</th>
                            <td>{{ obj.title }}</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="/depart/edit/?nid1={{ obj.id }}">编辑</a>
                                <a class="btn btn-danger btn-xs" href="/depart/delete/?nid1={{ obj.id }}">删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>

{% endblock %}

