<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/iconfont/iconfont.css">
    <link rel="stylesheet" href="../static/css/login-index.css">
    <!--我们只需要更改这里的链接就可以，上面的incofont.css不用了-->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_3315218_nrse12vqlfb.css">
    <style>
        /*更改输入框默认值的字体颜色*/
        input::-webkit-input-placeholder{
            color: burlywood;
        }

    </style>
    <title>Login</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
<div class="login-box">
    <h1>登录</h1>
    <div class="input-box">
        <div class="input-text">
            <span class="iconfont icon-2yonghu"></span>
            <input type="text" placeholder="用户名" name="username1" >
        </div>
        <div class="input-text">
            <span class="iconfont icon-dengluzhuce"></span>
            <input type="password" placeholder="密码" name="password1">
        </div>
        <div class="input-btn">
            <button type="submit">
              登陆
            </button>

        </div>
        <div class="sign-up">
            没有账户？
            <a href="#">立即注册</a>
        </div>
    </div>
</div>


</form>

</body>
</html>